<!DOCTYPE html>
<html data-ng-app="mainApp" data-ng-cloak>
<head>
    <title ng-bind="'Open Beer &mdash; ' + title">Open Beer</title>

    <base href="http://127.0.0.1/my-open-beer-angular/">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script async type="text/javascript"
            src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
    <script src="js/bundle.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-ng-controller="MainController">
<div class="bs-docs-header">
    <div class="container">
        <div class="col-md-7 col-md-offset-3">
            <header>
                <h1>Open Beer Database</h1>

                <p>A free, public database and API for beer information.</p>
            </header>
        </div>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a></li>
        <li data-ng-repeat="page in paths"><a data-ng-href="{{page.href}}">&nbsp;{{page.caption}}</a></li>
    </ol>
</div>
<div class="container" data-ng-controller="LoginController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-right">
                    <p class="navbar-text" data-ng-show="isLoggedIn()">{{ getUsername() }}</p>
                    <button type="button" class="btn btn-default navbar-btn" data-ng-show="isLoggedIn()"
                            data-ng-click="logout()">Déconnexion
                    </button>

                    <p class="navbar-text" data-ng-hide="isLoggedIn()">Non connecté</p>
                    <button type="button" class="btn btn-default navbar-btn" data-ng-hide="isLoggedIn()"
                            data-ng-click="goToLogin()">Connexion
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="panel panel-default" data-ng-show="resultMessages.length > 0">
    <div class="container">
        <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Informations</h4>
        <p data-ng-repeat="message in messages| NotDeletedFilter as resultMessages" class="text-{{message.type}}" data-ng-show="readMessage(message)" data-ng-bind-html="message.content"></p>
    </div>
</div>
<div class="container">
    <ng-view>
    </ng-view>
</div>
</body>
</html>