<div class="panel panel-default">
    <div class="panel-heading">{{beer.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{beer.photo}}" alt="{{beer.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 text-justify">
                    <strong><span translate="list.NAME"></span> :</strong><br>
                    {{beer.name}}<br><br>
                    <strong><span translate="list.DESCRIPTION"></span> :</strong><br>
                    {{beer.description}}<br><br>
                </div>
                <div class="col-md-6">
                    <strong><span translate="list.CREATED_AT"></span> :</strong><br>
                    {{beer.created_at}}
                </div>
                <div class="col-md-6">
                    <strong><span translate="list.UPDATED_AT"></span> :</strong><br>
                    {{beer.updated_at}}
                </div>
                <div class="col-md-12"><br>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" data-ng-click="show()" translate="show.beers.DISPLAY"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="beers" translate="show.beers.BACK"></a>
</div>