<div class="btn-toolbar" role="toolbar" aria-label="toolbar">
	<div class="btn-group" role="group" aria-label="Refresh" data-ng-show="refreshOnAsk()">
		<a title="Rafraîchir" href="#" class="btn btn-success" data-ng-click="refresh()">
			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		</a>
	</div>
	<div class="btn-group" role="group" aria-label="filter">
		<input class="form-control" type="text" placeholder="Filtrer..." data-ng-model="q">
	</div>
	<div class="btn-group" role="group" aria-label="opération">
		<a href="beers/new" class="btn btn-warning">Ajouter...</a>
	</div>
	<div class="btn-group" role="group" aria-label="opération" data-ng-show="defferedUpdate()">
		<a class="btn btn-default" data-ng-class="{'active': mustHideDeleted}" data-ng-click="hideDeleted()">Masquer les suppressions</a>
	</div>
    <div class="btn-group" role="group" aria-label="Voir">
        <a class="btn btn-default btn-block" data-ng-show="showUpdate()" data-ng-click="show()">Voir la bière</a>
    </div>
    <div class="btn-group" role="group" aria-label="Modifier">
        <a class="btn btn-default" data-ng-show="showUpdate()" data-ng-click="edit()">Modifier la bière</a>
    </div>
	<div class="btn-group" role="group" aria-label="Supprimer">
		<a class="btn btn-default" data-ng-show="countSelected()>0" data-ng-click="remove()">
            <data-ng-pluralize count="countSelected()" when="{1: 'Supprimer la bière','other':'Supprimer les bières ({})'}"></data-ng-pluralize>
        </a>
	</div>
	<div class="btn-group" role="group" aria-label="count">
		<button class="btn btn-link" disabled>
            <data-ng-pluralize count="results.length" when="{0: 'no beer',1: 'One beer','other':'{} beers'}"></data-ng-pluralize>
        </button>
	</div>
	<div class="btn-group" role="group" aria-label="false" data-ng-show="data.load">
		<img class="btn" src="img/loader.gif">
	</div>
</div>
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th><input type="checkbox" title="Sélectionner" data-ng-click="selectAll()" data-ng-model="allSelected"></th>
			<th data-sort-by data-field="id" data-ref="sortBy">#</th>
			<th data-sort-by data-field="name" data-ref="sortBy">Name</th>
            <th>Photo </th>
			<th data-sort-by data-field="description" data-ref="sortBy">Description</th>
			<th data-sort-by data-field="created_at" data-ref="sortBy">Created at</th>
			<th>Updated at</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="beer in data.beers | NotDeletedFilter | orderBy:sortBy.field : sortBy.asc | filter:q as results track by $index" data-ng-dblclick="edit(beer)" data-ng-click="setActive(beer)" data-ng-class="{'active': isActive(beer)}">
			<td><input type="checkbox" title="Sélectionner" data-ng-model="beer.selected" data-ng-click="$event.stopPropagation()"></td>
			<td>{{beer.id}}</td><td>{{beer.name}}
				<span class="label" data-ng-class="{'label-success':beer.flag=='New','label-warning':beer.flag=='Updated','label-danger':beer.flag=='Deleted'}" data-ng-show="beer.flag">{{beer.flag}}</span></td>
            <td><a href="{{beer.photo}}"><img ng-src="{{beer.photo}}" width="150"></a></td>
            <td>{{beer.description}}</td>
			<td>{{beer.created_at | date:'dd/MM/yy HH:mm:ss'}}</td>
			<td>{{beer.updated_at | date:'dd/MM/yy HH:mm:ss'}}</td>
		</tr>
	</tbody>
</table>