<div class="panel panel-default">
    <div class="panel-heading">{{brewery.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{brewery.photo}}" alt="{{brewery.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 text-justify">
                    <strong><span translate="list.NAME"></span> :</strong><br>
                    {{brewery.name}}<br><br>
                    <strong><span translate="list.URL"></span> :</strong><br>
                    <a href="{{brewery.url}}">{{brewery.url}}</a><br><br>
                </div>
                <div class="col-md-6">
                    <strong><span translate="list.CREATED_AT"></span> :</strong><br>
                    {{brewery.created_at}}
                </div>
                <div class="col-md-6">
                    <strong><span translate="list.UPDATED_AT"></span> :</strong><br>
                    {{brewery.updated_at}}
                </div>
                <div class="col-md-12"><br>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" data-ng-click="show()" translate="show.breweries.DISPLAY"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="showBeers">
    <div class="panel panel-default">
        <div class="panel-heading">Liste des bières</div>
        <div class="panel-body" id="panelListTable">
            <div data-ng-show="existeBeers">
                <table class="table table-striped table-condensed" id="listTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Photo </th>
                        <th>Description</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="beer in beers['all']">
                        <td>{{beer.id}}</td><td>{{beer.name}}
                        <td><a href="{{beer.photo}}"><img ng-src="{{beer.photo}}" width="150"></a></td>
                        <td>{{beer.description}}</td>
                        <td>{{beer.created_at | date:'dd/MM/yy HH:mm:ss'}}</td>
                        <td>{{beer.updated_at | date:'dd/MM/yy HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-hide="existeBeers">
                <p id="noBeerFound">Aucune bière pour cette brasserie.</p>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="breweries" translate="show.breweries.BACK"></a>
</div>