<div class="panel panel-default">
    <div class="panel-heading">{{brewery.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{brewery.photo}}" alt="{{brewery.name}}">
                </a>
            </div>
            <div class="col-md-9">
                <div class="col-md-12 text-justify">
                    <strong><span translate="list.NAME"></span> :</strong><br>
                    {{brewery.name}}<br><br>
                    <strong><span translate="list.URL"></span> :</strong><br>
                    <a href="{{brewery.url}}">{{brewery.url}}</a><br><br>
                </div>
                <div class="col-md-6">
                    <strong><span translate="list.CREATED_AT"></span> :</strong><br>
                    {{brewery.created_at}}
                </div>
                <div class="col-md-6">
                    <strong><span translate="list.UPDATED_AT"></span> :</strong><br>
                    {{brewery.updated_at}}
                </div>
                <div class="col-md-12"><br>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="" translate="show.breweries.DISPLAY"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" href="breweries" translate="show.beers.DISPLAY"></a>
</div>