<form name="frmConfig" data-ng-submit="frmConfig.$valid && update()" novalidate data-ng-init="setFormScope(this)">
    <fieldset>
        <legend translate="config.mode.TITLE"></legend>
        <div class="form-group">
            <label for="config-breweries" translate="config.BREWERIES"></label>

            <div class="radio" id="config-breweries">
                <label>
                    <input type="radio" name="breweriesMode" value="online" data-ng-model="config.breweries.mode">
                    <span translate="config.mode.ONLINE"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="breweriesMode" id="breweriesMode2" value="offline"
                           data-ng-model="config.breweries.mode">
                    <span translate="config.mode.OFFLINE"></span>
                </label>
            </div>

            <label for="config-beers" translate="config.BEERS"></label>
            <div class="radio" id="config-beers">
                <label>
                    <input type="radio" name="beersMode" value="online" data-ng-model="config.beers.mode">
                    <span translate="config.mode.ONLINE"></span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="beersMode" id="beersMode2" value="offline"
                           data-ng-model="config.beers.mode">
                    <span translate="config.mode.OFFLINE"></span>
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend translate="config.server.TITLE"></legend>
        <div class="form-group">
            <label for="url" translate="config.server.URL"></label>
            <input class="form-control" type="url" id="url" name="url"
                   data-ng-model="config.server.restServerUrl">
        </div>
        <div class="form-group">
            <label for="token" translate="config.server.TOKEN"></label>
            <input class="form-control" type="text" id="token" name="token"
                   data-ng-model="config.auth.privateToken" disabled="disabled">

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="force" data-ng-model="config.server.force">
                    <span translate="config.server.FORCE"></span>
                </label>
            </div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-default" translate="config.SAVE"></button>
    &nbsp;<a href="breweries" class="btn btn-default" data-ng-click="cancel()" translate="config.CANCEL"></a>
</form>