<div class="jumbotron">
	<div class="list-group">
		<a href="breweries" class="list-group-item list-group-item-warning active">
			<h4 class="list-group-item-heading" translate="main.breweries.TITLE"></h4>
		</a>
		<a href="breweries" class="list-group-item" translate="main.breweries.LIST"></a>
		<a href="breweries/new" class="list-group-item" translate="main.breweries.ADD"></a>
		<a href="#" class="list-group-item list-group-item-warning active">
			<h4 class="list-group-item-heading" translate="main.beers.TITLE"></h4>
		</a>
		<a href="beers" class="list-group-item" translate="main.beers.LIST"></a>
		<a href="beers/new" class="list-group-item" translate="main.beers.ADD"></a>
		<a href="saves" class="list-group-item list-group-item-warning active" data-ng-show="hasOperations()">
			<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Opérations en attente ({{opCount()}})</h4>
		</a>
		<a href="config" class="list-group-item list-group-item-warning">
			<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;<span translate="main.CONFIG"></span></h4>
		</a>
	</div>
</div>